Html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

#normalCalculatorForm input, #normalCalculatorForm p {
    display: block;
    width: 200px;
    padding: 5px;
}

#normalCalculatorForm p {
    margin-top: 0;
    margin-bottom: 0;
    border: 2px inset rgb(223, 223, 223);
    font-family: 'Roboto', Helvetica, sans-serif;
}